body {
    min-width: 900px;
    min-height: 1200px;
}

#simControls {
    display: block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border-style: solid;
    border-color: grey;
}

.dashboardBtn {
    display: inline;
}

#frameRateContainer {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

/* container for mini-map and zoomView */
#viewsContainer {
    min-width: 810px;
    height: 325px;
    float: left;
    margin: 10px;
}

/* The canvas containing the mini-map */
#miniMap {
    margin-right: 10px;
    height: 300px;
    width: 300px;
    display: inline-block;
}

#miniMapCanvas {
    width: 300px;
    height: 300px;
}

/* container for the water and wind canvases */
#zoomView {
    position: absolute;
    display: inline-block;
    height: 300px;
    width: 500px;
}

/* the canvas elements for the zoomView */
#waterCanvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#windCanvas {
    position: absolute;
    pointer-events: none;
}

#header {
    text-align: center; 
}

#dashboardContainer {
    display: inline-block;
    width: 75%;
}

#boatControls {
    max-width: 66%;
    border-style: solid;
    border-color: grey;
    display: inline-block;
}

.dashboardBtn {
    margin: 10px;
    height: 50px;
    min-width: 70px;
}

.sliderContainer {
    display: inline-block;
    margin: auto;
}

.sliderContainer>input {
    width: 4ch;
}

#dataContainer {
    display: inline-block;
    width: 25%;
    width: 360px;
    border-style: solid;
    border-color: grey;
}

.guageContainer {
    text-align: center;
    display: inline-block;
    width: 45%;
}

.fancyGuage {
    display: inline-block;
    margin: auto;
}

.footer {
    display: inline-flex;
    bottom:0;
}