/* container for the zoomed-in view and wind canvases */
#zoomView {
    position: relative;
    height: fit-content;
    width: 50%;
}

/* The canvas containing the mini-map */
#miniMap {
    position: relative;
    display: inline-flex;
    width: 25%;
    height: 100%;
    margin: 10px;
    align-items: center;
}

#miniMapCanvas {
    display: inline-block;
    width: 100%;
}

/* container for mini-map and zoomView */
#viewsContainer {
    width: 100%;
    height: 500px;
    display: inline-flex;
}

/* the canvas elements for the zoomView */
.mainCanvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* the wind canvas */
.mainCanvas.overlay {
    pointer-events: none;
}

#header {
    text-align: center; 
}

#dashboardContainer {
    display: inline-block;
    width: 75%;
}

#simControls {
    display: inline-block;
    width: 32%;
    text-align: center;
    border-style: solid;
    border-color: grey;
}

#frameRateContainer {
    display: inline-block;
    margin: auto;
}

#boatControls {
    width: 66%;
    border-style: solid;
    border-color: grey;
    display: inline-block;
}

.dashboardBtn {
    margin: 10px;
    height: 50px;
    min-width: 70px;
}

.sliderContainer {
    display: inline-block;
    margin: auto;
}

.sliderContainer>input {
    width: 4ch;
}

#dataContainer {
    display: inline-block;
    width: 25%;
    height: 500px;
    border-style: solid;
    border-color: grey;
}

.guageContainer {
    text-align: center;
    display: inline-block;
    width: 45%;
}

.fancyGuage {
    display: inline-block;
    padding: 5%;
    margin: auto;
}

.footer {
    position: relative;
    display: block;
    bottom:0;
    width:600px;
}